@model Kyrsach.Models.Instruction
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> Localize

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="display-2" style="text-align:center">@Model.Name</h1>
<p style="text-align:center"><small>Author:<a asp-action="Index" asp-controller="Manage" asp-route-userId="@Model.ApplicationUserId">@Model.ApplicationUser.UserName</a>;  Date:@Model.UpdateDate</small></p>
<div class="container pagination" style="text-align:center">
    <div class="jumbotron page" id="page1">
        <p class="lead">@Model.Description</p>
        <img src="@Model.Image" style="max-height:350px; max-width:350px;" />
    </div>
    @for (int i = 0; i < Model.Steps.Count(); i++)
    {
        <div class="jumbotron page" id="page@(i+2)">
            <div class="row">
                <h1>@Model.Steps.ElementAt(i).Name</h1>
                <hr style="border-top:1px solid#3b3b3b" />
                <p>@Model.Steps.ElementAt(i).Text</p>
            </div>
            <div class="row">
                <img src="@Model.Steps.ElementAt(i).Image1" style="max-height:350px; max-width:350px;" />
                <img src="@Model.Steps.ElementAt(i).Image2" style="max-height:350px; max-width:350px;" />
                <img src="@Model.Steps.ElementAt(i).Image3" style="max-height:350px; max-width:350px;" />
            </div>
        </div>
    }
    <ul id="pagination" class="pagination">
        <li class="page-item"><a id="first" class="page-link" href="#">@Localize["First"]</a></li>
        <li class="page-item"><a id="prev" class="page-link" href="#">@Localize["Previous"]</a></li>
        <li class="page-item"><a id="number">1</a></li>
        <li class="page-item"><a id="next" class="page-link" href="#">@Localize["Next"]</a></li>
        <li class="page-item"><a id="last" class="page-link" href="#">@Localize["Last"]</a></li>
    </ul>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var pageNumber = 1;

            function showPage(page) {
                $('.pagination .page:not(#page' + page + ')').hide();
                $('.pagination .page#page' + page).show();
                document.getElementById("number").innerHTML = page;
            }

            function prevPage() {
                if (pageNumber == 1) {
                    pageNumber = $('.pagination .page').length;
                } else {
                    pageNumber--;
                }
                showPage(pageNumber);
            }

            function nextPage() {
                if (pageNumber == $('.pagination .page').length) {
                    pageNumber = 1;
                } else {
                    pageNumber++;
                }
                showPage(pageNumber);
            }

            function firsPage() {
                pageNumber = 1;
                showPage(pageNumber);
            }

            function lastPage() {
                pageNumber = $('.pagination .page').length;
                showPage(pageNumber);
            }

            $(document).ready(function () {
                showPage(pageNumber);
                $('#first').click(firsPage);
                $('#prev').click(prevPage);
                $('#next').click(nextPage);
                $('#last').click(lastPage);
            });
        });
    </script>
}
